$title-font: 'Ovo', serif;
$text-font: 'Muli', sans-serif;
$red: #ED382F;
$dark-red: #CC3028;
$white: #FFFFFF;
$gray: #EEEEEE;
$dark-gray: #DDDDDD;
$black: #2A2A2A;
$dark-black: #000000;
$yellow: #FFBA3A;
$dark-yellow: #FFA723;

body {
    
    margin: 0;
    padding: 1rem;
    font-family: $text-font;
    background-color: $white;
    font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: $title-font;
    text-transform: capitalize;
}

nav {
    
    color: $white;
    background-color: $black;
    overflow: auto;
    
    &>* {
        
        display: block;
        margin: 0;
    }
    
    & a {
        
        text-decoration: none;
        color: $white;
        transition: all 0.2s;
        
        &:hover {
            
            color: $yellow;
        }
    }
    
    & .title {
        
        @extend h1;
        
        display: block;
        padding: 1rem;
        font-size: 1.3rem;
        float: left;
    }
    
    & .options {
     
        float: right;
                
        & .option {
            
            display: inline-block;
            padding: 1rem;
            transition: all 0.2s;
            
            &:hover {
                
                color: $white;
                background-color: $dark-black;
            }
        }
    }
}

.main {
    
    padding: 4rem;
    background-position: center;
    background-size: 100% auto;
    background-image: url("images/main.jpg");
    
    &>* {
        
        display: block;
        padding: 0.5rem;
        color: $white;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.overlay {
    
    padding: 4rem 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    
    &>*:first-child {
        
        margin-top: 0;
    }
    
    &>*:last-child {
        
        margin-bottom: 0;
    }
    
    h1 {
        
        font-size: 3rem;
        margin: 0.5rem auto;
    }
    
    p {
        
        font-size: 1.5rem;
        margin: 0.5rem auto;
    }
}

.container {
    
    margin-top: 1rem;
    
    &:first-of-type {
        
        margin-top: 0;
    }
}

section {
    
    padding: 2rem 0 0 0;
    
    h2 {
        
        text-align: center;
        margin: 0 auto 1rem auto;
        padding: 0.7rem;
        color: $white;
        background-color: $black;
    }
}

.card {
    
    background-color: $gray;
    padding: 1rem;
    text-align: left;
    
    & ul {
        
        padding-left: 1.2rem;
    }
    
    &>*:first-child {
        
        display: block;
        text-align: center;
        
        margin: -1rem -1rem -0.5rem -1rem;
        padding: 0.5rem;
        
        color: $white;
        background-color: $black;
    }
    
    &>*:last-child {
        
        margin-bottom: 0;
    }
    
    &.yellow {
        
        color: $white;
        background-color: $yellow;
    }
    
    &.red {
        
        color: $white;
        background-color: $red;
    }
}

table {
    
    border-collapse: separate;
    border-spacing: 0.6rem;
    margin: -0.6rem;
    
    tr {
        
        background-color: $gray;
        
        td {
            
            padding: 0.8rem;
        }
        
        td:first-child {
        
            text-align: center;
            color: $white;
            text-transform: capitalize;
            background-color: $black;
        }
        
       &:nth-child(even) td {
            
            background-color: $dark-gray;
        }
        
        &:nth-child(even) td:first-child {
            
            background-color: $dark-black;
        }
    }
    
    &.yellow td:first-child {
        
        background-color: $yellow;
    }
    
    &.yellow tr:nth-child(even) td:first-child {
            
        background-color: $dark-yellow;
    }
    
    &.red td:first-child {
        
        background-color: $red;
    }
    
    &.red tr:nth-child(even) td:first-child {
            
        background-color: $dark-red;
    }
}

footer {
    
    margin-top: 2rem;
    padding: 1rem;
    color: $white;
    background-color: $black;
    text-align: center;
    
    &>* {
        
        margin: 0.2rem;
    }
    
    &>*:first-child {
        
        margin-top: 0;
    }
    
    &>*:last-child {
        
        margin-bottom: 0;
    }
    
    .disclaimer {
        
        color: #999;
    }
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0;
	margin: 0;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 0 0 0 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
    box-sizing: border-box;
}
.span_3_of_4 {
	width: 74.6%;
    box-sizing: border-box;
}
.span_2_of_4 {
	width: 49.2%;
    box-sizing: border-box;
}
.span_1_of_4 {
	width: 23.8%;
    box-sizing: border-box;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
}